body {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article {
    border: 1.5px rgb(201, 201, 201) solid;
    border-radius: 10px;
    width: 392px;
    text-align: center;
    padding: 24px 0px;
    margin: 20px 0px;
}

h1 {
    font-weight: 900;
    font-size: 1.8em;
}

.dark-box {
    background-color: rgb(52, 52, 52);
    color: white;
    border-radius: 4px;
}

.recomendado {
    padding: 6px 12px;
}

.recomendado-precio {
    margin-top: 40px;
}

.btn {
    border: none;
    font-size: 18px;
    padding: 12px 24px;
}

p {
    font-size: 18px;
}

.price {
    font-size: 24px;
}

.plan-recomendado {
    border-color: rgb(102, 102, 102);
    background-color: rgb(219, 219, 219);
}